#!/bin/sh
set -x
test -f ~/.aws/credentials || cat > ~/.aws/credentials <<EOF
[default]
role_arn       = {{ (onepassword "rkbnk6gtrbg4dk2ipol4yhidia").details.password }}
source_profile = saml2aws

[nextdev]
role_arn       = {{ (onepassword "rkbnk6gtrbg4dk2ipol4yhidia").details.password }}
source_profile = saml2aws

[staging]
role_arn       = {{ (onepassword "wfkwbqpcr5azlilcdd5s3iisam").details.password }}
source_profile = saml2aws

[saml2aws]
aws_access_key_id        = FAKE
aws_secret_access_key    = FAKE
aws_session_token        = FAKE
aws_security_token       = FAKE
x_principal_arn          = FAKE
x_security_token_expires = 1970-01-01T00:00:00-07:00
EOF
echo "Done."
