{{- $email := promptString "email" -}}
{{- $workgithub := promptString "workgithub domain" -}}
{{- $workgovanity := promptString "work go vanity domain" -}}

[data]
    name = {{ $email | splitList "@" | first | splitList "." | join " " | title | quote }}
    email = {{ $email | quote }}
    work = {{ $email | splitList "@" | last | quote }}
    workgithub = {{ $workgithub | quote }}
    workgovanity = {{ $workgovanity | quote }}

[diff]
  format = "git"
  pager = "diff-so-fancy"

[merge]
  command = "goland-merge"
