[default]
url         = https://{{ .work | trimSuffix ".com" }}.okta.com/home/amazon_aws/0oa1d95a7yvxf4CBT1d8/272
username    = {{ .email | splitList "@" | mustFirst }}
provider    = Okta
mfa         = Auto
skip_verify = false
timeout     = 0
aws_urn     = urn:amazon:webservices

