# romkatv/powerlevel10k
# davidparsson/zsh-pyenv-lazy

Tarrasch/zsh-autoenv
wfxr/forgit
laggardkernel/zsh-iterm2

https://{{ .workgithub }}/identity/mage-zsh

zdharma/zsh-diff-so-fancy
zdharma/fast-syntax-highlighting
Aloxaf/fzf-tab
zsh-users/zsh-autosuggestions
