{
  "https://artifactory.{{ .work }}" : {
    "auth" : "{{ printf "%s:%s" (.chezmoi.username) ((onepassword "ojdzhnm4cfbfransdttmpswipy").details.password) | b64enc }}",
    "email" : "{{ .email }}"
  }
}
