{
    "editor.emptySelectionClipboard": false,
    "editor.minimap.enabled": false,
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    "editor.fontSize": 14,
    "window.zoomLevel": 1,
    "vtools.autoHideBottomBar": true,
    "python.disablePromptForFeatures": [
        "pylint"
    ],
    "go.lintTool": "golangci-lint",
    "go.lintFlags": [
        "--fix"
    ],
    "git.autofetch": true,
    "git.enableSmartCommit": true,
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "files.autoSave": "afterDelay",
    "go.useLanguageServer": true,
    "go.autocompleteUnimportedPackages": true,
    "go.buildTags": "unit,integration,mage",
    "go.gopath": "{{ .chezmoi.homedir }}/code/go"
}
